<p>
  <strong>Nome:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Posição:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @player.age %>
</p>

<p>
  <strong>Time:</strong>
  <%= @player.team.name %>
</p>