/* Superhero
 * Bootswatch
 *= require_self
 *= require superhero/loader
 *= require superhero/bootswatch
*/

.footer {
	margin-top: 50px;
}

.jumbotron-image {
	background-image: url(/assets/bg_players.jpg); 
	background-size: 100%;
	text-shadow: 2px 2px 2px #000;
}


