/* 
// Listrap v1.0, by Gustavo Gondim (http://github.com/ggondim)
// Licenced under MIT License
// For updates, improvements and issues, see https://github.com/inosoftbr/listrap
*/

//colors
$color_link_water_approx: #d9edf7;
$color_boston_blue_approx: #428bca;
$white: #ffffff;

//fonts
$font_0: Glyphicons Halflings;

.listrap {
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: default;
	//Instead of the line below you could use @includeuser-select($select)
	user-select: none;
	li {
		margin: 0;
		padding: 10px;
		&.active {
			background-color: $color_link_water_approx;
			.listrap-toggle span {
				display: block;
			}
		}
		&:hover {
			background-color: $color_link_water_approx;
		}
	}
	strong {
		margin-left: 10px;
	}
	.listrap-toggle {
		display: inline-block;
		width: 60px;
		height: 60px;
		span {
			background-color: $color_boston_blue_approx;
			opacity: 0.8;
			z-index: 100;
			width: 60px;
			height: 60px;
			display: none;
			position: absolute;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 50%;
			text-align: center;
			line-height: 60px;
			vertical-align: middle;
			color: $white;
			&:before {
				font-family: $font_0;
				content: "\e013";
			}
		}
	}
}